.side-bar-shifted {
  margin-right: 20rem;
}

#tree-box-container {
  text-align: center;
  padding-left: 1.5%;
  padding-right: 1.5%;
  height: 95%;
  bottom: 0;
}

.tree-box-grid > div {
  height: initial !important;
}

.tree-box {
  overflow: visible;
  background: #F5F5F5;
}

.tree-box-header {
  background: #66BB6A;
  box-shadow: 0px 5px 30px -15px black
}

.tree-box-header span:first-child {
  font-size: 2em;
}

.tree-box-container-header {
  font-size: 2em;
  line-height: 2em;
  color: #1B5E20; /* green900 */
}

.tree-box-grid-tile {
  overflow: inherit;
}

.tree-box-backprop {
  background: #F5F5F5;
}

.tree-box-backprop > div {
  padding-bottom: 0;
}

.tree-box-content > p:first-child {
  margin: .5em 1.5em;
  font-size: 1.2em;
  text-align: justify;
}
.tree-box-content > p {
  margin: .5em;
  text-align: left;
}

.tree-box-text {
  padding: 0;
  text-align: left;
}

.branch-preview-list > div {
  margin: 1em 2em;
  background: #f1f1f1;
  border-radius: 1em;
  box-shadow: 0px 0px 2px 0px black;
}

.branch-preview-link-large {
  font-size: 2em;
}

.navigation-header {
  font-size: 2.5em;
  margin: 5px 10px;
}

.shifted-leaf-description {
  width: 75%;
}

.leaf-preview-content {
  display: inline-flex;
}

.icon-box {
  display: inline-table;
  position: absolute;
  right: 2em;
  background: #66bb6a;
  border-radius: 2em;
}

.leaf-badge {
  height: 36px;
  padding: 0;
}

.mini-branch-preview {
  text-align: left;
}

.stat-banner > button {
  height: 100%;
}

.icon-box > button {
  width: 24px;
}

.stat-banner {
  background: #d2d1d1;
  margin: auto;
}

#leaf-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.leaf-box {
  width: 42%;
  margin: 2em;
  background: rgb(245, 245, 245);
  padding: .2em;
}

.leaf-box h1 {
  margin: 0 0 0 2em;
}

.leaf-box h3 {
  font-size: .8em;
  margin: 1em;
}

.leaf-box > div:first-child {
  height: 15em;
  box-shadow: 0 7px 10px -10px black;
}

.leaf-box > div:first-child > p {
  margin-left: 4em;
}

.leaf-box-favicon {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 5em;
  height: 1.5em;
  box-shadow: 0px 0px 5px 0px;
  background: whitesmoke;
  margin: 0 auto;
}

.leaf-box-side {
  height: 100%;
  float: left;
  width: 3em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgb(102, 187, 106);
  box-shadow: 1px 1px 5px -1px;
}

.vote-indicator {
  width: 100%;
}

.vote-indicator > i {
  font-size: 1.5em;
}

.minimal-comment {
  font-size: .8em;
  margin-left: 2em;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip:hover {
  cursor: pointer;
}

.tooltip .tooltip-content {
    visibility: hidden;
    width: 2em;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    font-size: .4em;
    left: 50%;
    margin-left: -1em;
}

.tooltip .tooltip-content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltip-content {
    visibility: visible;
}
