.side-bar-shifted {
  margin-right: 20rem;
}

#tree-box-container {
  text-align: center;
  padding-left: 1.5%;
  padding-right: 1.5%;
  height: 95%;
  bottom: 0;
}

.tree-box-grid > div {
  height: initial !important;
}

.tree-box {
  overflow: visible;
  background: #F5F5F5;
}

.tree-box-header {
  background: #66BB6A;
  box-shadow: 0px 5px 30px -15px black
}

.tree-box-header span:first-child {
  font-size: 2em;
}

.tree-box-container-header {
  font-size: 2em;
  line-height: 2em;
  color: #1B5E20; /* green900 */
}

.tree-box-grid-tile {
  overflow: inherit;
}

.tree-box-backprop {
  background: #F5F5F5;
}

.tree-box-text {
  padding: 0;
  text-align: left;
}

.branch-preview-list > div {
  margin: 1em 2em;
  background: #f1f1f1;
  border-radius: 1em;
  box-shadow: 0px 0px 2px 0px black;
}

.branch-preview-link-large {
  font-size: 2em;
}

.navigation-header {
  font-size: 2.5em;
  margin: 5px 10px;
}

.shifted-leaf-description {
  width: 75%;
}

.leaf-preview-content {
  display: inline-flex;
}

.icon-box {
  display: inline-table;
  position: absolute;
  right: 2em;
  background: #66bb6a;
  border-radius: 2em;
}

.leaf-badge {
  height: 36px;
  padding: 0;
}

.icon-box > button {
  width: 24px;
}
