.side-bar-header {
  font-size: 1.5em;
  margin-bottom: 0;
  padding-left: .5em;
}

#filter-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 2em;
}

#filter-menu h4 {
  width: 100%;
  text-align: center;
}
