#forest-box-container {
  text-align: center;
  padding-left: 1.5%;
  padding-right: 1.5%;
  height: 95%;
  bottom: 0;
}

.forest-box-grid > div {
  height: initial !important;
}

.forest-box {
  overflow: visible;
  background: #F5F5F5;
}

.forest-box-header {
  background: #66BB6A;
  box-shadow: 0px 5px 30px -15px black
}

.forest-box-header span:first-child {
  font-size: 2em;
}

.forest-box-container-header {
  font-size: 2em;
  line-height: 2em;
  color: #1B5E20; /* green900 */
}

.forest-box-grid-tile {
  overflow: inherit;
}

.forest-box-backprop {
  background: #F5F5F5;
}

.forest-box-text {
  padding: 0;
  text-align: left;
}

.stat-banner > button {
  height: 100%;
}

.stat-banner {
  background: #d2d1d1;
  margin: auto;
}
