@import url("branch-nav.css");
@import url("forest-nav.css");
@import url("layout.css");
@import url("leaf-nav.css");
@import url("sidebar.css");
@import url("tree-nav.css");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body {
  height: 100%;
}

.homepage {
  text-align: center;
}

.hoverable:hover {
  cursor: pointer;
}
